[submodule "server/vendor/toml"]
	path = server/vendor/toml
	url = https://github.com/ToruNiina/toml11.git
[submodule "server/vendor/spdlog"]
	path = server/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "server/vendor/doctest"]
	path = server/vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "server/vendor/expected"]
	path = server/vendor/expected
	url = https://github.com/TartanLlama/expected.git
